@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

body {
  font-family: Montserrat;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
}

*:focus {
  outline: 0;
  outline: none;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}